In [3]:
numbers=1,2,3,4,5
def sq(numbers):
    return numbers**2

In [4]:
sq(8)

64

In [5]:
#map(what to do , values)
map(sq,numbers)

In [6]:
#to get the values put it in a list
list(map(sq,numbers))

[1, 4, 9, 16, 25]

In [7]:
#map function with lambda
map(lambda x:x**2,numbers)

In [8]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [9]:
#MAp multiple variables
number1=[1,2,3]
number2=[3,4,5]
added_numbers=list(map(lambda x,y :x+y,number1,number2))
added_numbers

[4, 6, 8]

In [11]:
#map to convert string to intigers
str1=['1','2','3']
intnum=list(map(int,str1))
intnum

[1, 2, 3]

In [12]:
#inbuilt fn with map
words=['apple','banana','mango']
upper=list(map(str.upper,words))
upper

['APPLE', 'BANANA', 'MANGO']