In [2]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
range(5)

range(0, 5)

In [6]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
range(1,10,1)

range(1, 10)

In [8]:
print(range(1,4,1))

range(1, 4)

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [38]:
#string
name='Liji'
for a in name:
    print(a)

L
i
j
i

Practical problems

In [39]:
#Write a program to print all numbers from 1 to 10 using a for loop.
R=range(1,11)

for i in R:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [40]:
#Given a list of numbers [3, 5, 7, 2, 8], use a for loop to calculate and print their sum.

num=[3,5,7,2,8]
total=0
for i in num:
    total+=i
    print(total)
print("Final total:",total)

3
8
15
17
25
Final total: 25

In [41]:
num = [3, 5, 7, 2, 8]  # The list of numbers
total = 0  # Initialize the sum to 0

for i in num:  # Loop through each number in the list
    total += i  # Add the current number to the total

print("The sum is:", total)  # Print the final sum

The sum is: 25

In [42]:
number=[1,2,3,4,5,6,7,8,9]
sum(number)

45

In [43]:
tot=0
for i in number:
    tot+=i
print(tot)

45

In [44]:
#Write a program to print all even numbers between 1 and 20 using a for loop.
for i in range(0,22,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [45]:
#Write a program that takes a string as input and uses a for loop to reverse it.
#Example: Input: "hello" â†’ Output: "olleh"
'''The line reversed_string = char + reversed_string is key to this. It means that each new character is added at the beginning of the string, not at the end. So, as we go through the original string from left to right, we keep building up the reversed string.'''
str=input('enter a string')
reversed_string=""

for ch in str:
    reversed_string=ch+reversed_string
print(reversed_string)

In [46]:
#Write a program to display the multiplication table for a given number (e.g., 5).
a=int(input('numbr'))
mult=[]
for i in range(1,10):
    mult=a*i
    print(mult)

ValueError: invalid literal for int() with base 10: ''

In [26]:
# Get the number for the multiplication table
number = int(input("Enter a number: "))

# Create a range from 1 to 10 (for a typical multiplication table)
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#Calculate the factorial of a number n using a for loop.
#Example: Factorial of 5 (5!) = 5 * 4 * 3 * 2 * 1 = 120

f=input('num')

In [28]:
#ind the Largest Number in a List: Given a list [10, 20, 4, 45, 99], find and print the largest number using a for loop.
number=[10,20,4,45,99]
largest=0
for i in number:
    if i>largest:
        largest=i
print(largest)

99

In [37]:
#Generate a List of Squares: Write a program to generate a list of squares for numbers from 1 to 10.
squares=[]

for i in range(1,11):
    squares.append(i**2)
    print(squares)
    
print('The final list of squares:',squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
The final list of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]