List are mutable ordered collection of items
It can store data of different datatypes

lst=[]

In [2]:
lst=[]
type(lst)

list

In [4]:
names=['Liji',1,2,'C','Abhi']
print(names)

['Liji', 1, 2, 'C', 'Abhi']

In [6]:
fruits=['Apple','Orange','Grapes','Kiwi']
fruits

['Apple', 'Orange', 'Grapes', 'Kiwi']

In [7]:
fruits[0]

'Apple'

In [8]:
fruits[3]

'Kiwi'

In [9]:
fruits[-2]

'Grapes'

In [10]:
fruits[-1]

'Kiwi'

In [11]:
#all elemts from 2nd
fruits[1:]

['Orange', 'Grapes', 'Kiwi']

In [12]:
fruits[1:3]

['Orange', 'Grapes']

In [16]:
fruits[-1:-2]

[]

In [17]:
#modifying list elemets
fruits

['Apple', 'Orange', 'Grapes', 'Kiwi']

In [18]:
fruits[1]='Mango'

In [27]:
fruits

['Apple', 'Mango', 'Grapes', 'Kiwi']

In [24]:
#List methods
fruits.append('cherry') #add item to the end
fruits

['Apple', 'Mango', 'Grapes', 'Kiwi', 'cherry']

In [28]:
fruits.insert(1,'Banana')

In [29]:
fruits

['Apple', 'Banana', 'Mango', 'Grapes', 'Kiwi']

In [30]:
fruits.remove('Banana')

In [31]:
fruits

['Apple', 'Mango', 'Grapes', 'Kiwi']

In [32]:
#remove and return the last element
popped_fruit=fruits.pop()

In [33]:
popped_fruit

'Kiwi'

In [34]:
fruits

['Apple', 'Mango', 'Grapes']

In [35]:
fruits.index('Mango')

1

In [38]:
fruits.insert(2,'banana')
print(fruits)

['Apple', 'Mango', 'banana', 'Grapes']

In [40]:
#count
fruits.insert(2,'banana')
fruits.count('banana')

2

In [44]:
fruits

['Apple', 'Grapes', 'Mango', 'banana', 'banana']

In [47]:
fruits.sort() #Here, uppercase letters ('A', 'G', 'M') are sorted first, followed by lowercase letters ('b', 'b').

In [46]:
fruits

['Apple', 'Grapes', 'Mango', 'banana', 'banana']

In [52]:
fruits.reverse()#reverse the list

In [53]:
fruits

['banana', 'banana', 'Mango', 'Grapes', 'Apple']

In [56]:
fruits.clear()

In [57]:
fruits

[]

In [62]:
#Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::3])#take all elements, jump by 3 
print(numbers[::-1])

[3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 4, 7, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
#Iterating over list
for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [64]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [66]:
# basic List comprohension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [70]:
#Output Input
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
#with conditional logic
even_numbers=[num for num in range(30) if num%2==0]
even_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [74]:
#nested list comprehension
lst1=[1,2,3,4]
lst2=['a','b','c','d']
pair=[[i,j] for i in lst1 for j in lst2] 
pair

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd']]