In [1]:
emplty_tuple=()
print(emplty_tuple)

()

In [2]:
lst=list()
print(type(lst))
tupl=tuple()
print(type(tupl))

<class 'list'>
<class 'tuple'>

In [4]:
t=tuple([1,2,3])
t

(1, 2, 3)

In [6]:
l=list[(1,2,3)]
l

list[1, 2, 3]

In [7]:
mixed_tuple=(1,'hello','k')
mixed_tuple

(1, 'hello', 'k')

In [9]:
#indexing slicing same like list
numbers=(1,2,3,4)

In [10]:
#tuple operation
numbers+mixed_tuple

(1, 2, 3, 4, 1, 'hello', 'k')

In [11]:
mixed_tuple*3       #it will 3 times print mixed_tuples

(1, 'hello', 'k', 1, 'hello', 'k', 1, 'hello', 'k')

In [14]:
#immutable nature
lst=[1,2,3]
lst[1]='Liji'
print(lst)

print(numbers)
numbers['1']='Liji'
print(numbers)

[1, 'Liji', 3]
(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [15]:
#methods
numbers.count(1)

1

In [16]:
numbers.index(3)

2

In [18]:
#packing 
lst=1,'liji'    #by default the csv became tuple
lst

(1, 'liji')

In [23]:
#Unpacking
a,b=lst
print(a)
print(b)

1
liji

In [29]:
#  using *
f='a','b','c','d'
first,*middle,last=f
print(first)
print(*middle)
print(last)

a
b c
d

In [31]:
#Nested list
lst=[[1,2,3],['L','Abhi',3],[5,6,7]]
lst[0]

[1, 2, 3]

In [33]:
lst[0][1]

2

In [34]:
lst[0:2]

[[1, 2, 3], ['L', 'Abhi', 3]]

In [35]:
lst[::]

[[1, 2, 3], ['L', 'Abhi', 3], [5, 6, 7]]

In [37]:
lst[1][2]

3

In [38]:
#Nested tuple
t=((1,2,3),('a','b','c'),(13,14,15))

In [40]:
t[1]

('a', 'b', 'c')

In [41]:
t[1][0]

'a'